* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

body {
  max-width: 100%;
  max-width: 100vh;
  background-color: #ccc;
  position: relative;
}

body .sidebar {
  width: 5em;
  height: 95vh;
  border-radius: 1em;
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #141418;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .sidebar .sidebar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sidebar .sidebar__content .arrow__icon {
  display: none;
  font-size: 30px;
  margin-top: 0.5em;
  margin-right: 2em;
}

body .sidebar .sidebar__content .bars__icon {
  font-size: 30px;
  margin-top: 0.5em;
}

body .sidebar .sidebar__content .account__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  font-size: 30px;
  margin-top: 1em;
}

body .sidebar .sidebar__content .account__icon .account__text {
  display: none;
  font-size: 14px;
  margin-left: 1em;
  line-height: 20px;
  font-family: sans-serif;
}

body .sidebar .sidebar__content .list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 4em 0;
  height: 50vh;
  font-size: 20px;
}

body .sidebar .sidebar__content .list__items li:hover a {
  padding-left: 0.5em;
}

body .sidebar .sidebar__content .list__items li:hover a i {
  color: red;
  -webkit-transform: translateY();
          transform: translateY();
}

body .sidebar .sidebar__content .list__items li:hover a span {
  color: red;
}

body .sidebar .sidebar__content .list__items li:hover .tooltip {
  display: block;
}

body .sidebar .sidebar__content .list__items li:hover .hover__text {
  font-size: 30px;
  color: red;
  opacity: 1;
}

body .sidebar .sidebar__content .list__items li {
  position: relative;
  border-radius: 1em;
  margin: 0 15px;
  padding: 15px 15px;
  cursor: pointer;
}

body .sidebar .sidebar__content .list__items li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .sidebar .sidebar__content .list__items li a .icons__text {
  margin-left: 1em;
  font-size: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  white-space: nowrap;
}

body .sidebar .sidebar__content .list__items li .hover__text {
  font-size: 0;
  position: absolute;
  left: 135%;
  top: 10px;
}

body .sidebar .sidebar__content .list__items li .tooltip {
  display: none;
  opacity: 1;
  position: absolute;
  z-index: 10;
  left: 70px;
  top: -1em;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 10px;
}

body .sidebar .sidebar__content .list__items li .tooltip p {
  top: 2em;
  left: 1em;
  position: absolute;
  font-size: 16px;
}

body .sidebar .sidebar__content .list__items li .tooltip .tooltip__effect {
  margin-right: 10px;
  margin-left: -10px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 45px 100px 45px 0;
  border-color: transparent red transparent transparent;
}

body .sidebar .sidebar__content .list__items li a:hover .hover__effect {
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=style.css.map */